body {
    margin: 0; padding: 0;

    display: flex;
    flex-wrap: wrap;
}
.color {
    margin: 0; padding: 0;
    flex-basis: 16.66%;
    box-sizing: border-box;
    cursor: pointer;
}

/* Base colors */
.red {
    background-color: #9a3532;
    border: 3px solid #9a3532;
}
.blue {
    background-color: #35329a;
    border: 3px solid #35329a;
}
.green {
    background-color: #329a35;
    border: 3px solid #329a35;
}
.yellow {
    background-color: #aaaa35;
    border: 3px solid #aaaa35;
}
.orange {
    background-color: #9a5a15;
    border: 3px solid #9a5a15;
}
.purple {
    background-color: #8a359a;
    border: 3px solid #8a359a;
}

/* Hover colors */
.red:hover, .red.touched {
    background-color: #ba4542;
}
.blue:hover, .blue.touched {
    background-color: #4542ba;
}
.green:hover, .green.touched {
    background-color: #42ba45;
}
.yellow:hover, .yellow.touched {
    background-color: #caca45;
}
.orange:hover, .orange.touched {
    background-color: #ba6a25;
}
.purple:hover, .purple.touched {
    background-color: #aa45ba;
}

/* Breakpoints */
@media (min-width: 375px + 1) {
    .color {
        flex-basis: 16.66%;
    }
}
@media (min-width: 1080px) {
    .color {
        flex-basis: 33%;
    }
}